<div class="feature-date">
  Companies on Feature Hunt
</div>

<% @companies.each do |company| %>
<div class='feature-box'>
  <div class="company-index">
    <%= image_tag company.avatar(:small) %>
  </div>
  <div id="show-title">
    <a href="/companies/<%= company.id %>"><%= company.name %></a>
    <div id="show-company">
    </div>
  </div>

</div>
<% end %>

