.new-feature-button {
	font-family: Lato;
	font-size: 24px;
	width: 100%;
	padding: 10px;
	margin-bottom: 100px;
	border: 2px solid rgba(253, 106, 101, 1.0);
	background-color: white;
	color: rgba(253, 106, 101, 1.0);
}

.new-feature-button:hover {
    background-color:rgba(253, 106, 101, 1.0);
    color: white;
    transition: .3s;
}