// Place all the styles related to the Features controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.feature-date {
	font-family: lato;
	font-size: 24px
}

.feature-box {
	font-family: lato;
	font-size: 22px;
	width: 100%;
	border: none;
	padding: 10px;
}
.feature-box:hover {
	background-color: rgba(255, 105, 97, .1);
}

.feature-box a {
	color: black;
}
.feature-box a:visited {
	color: black;
}
.feature-box a:hover {
	background-color: rgba(255, 105, 97, 0.0);
	text-decoration: none;
	color: rgba(253, 106, 101, 1.0);
}

.feature-box td {
	font-size: 18px;
}

.upvote-box {
	font-family: lato;
	font-size: 18px;
	padding: 5px;
	/*width: 50px;
	height: 75px;*/
	text-align: center;
	/*border: 1px solid black;*/
	border-radius: 5px;
	background-color:rgba(237, 236, 235, 1.0);
}

.upvote-box a:visited {
	color: rgba(253, 106, 101, 1.0);
}

.upvote-box a {
	color:rgba(155,155,155, .9);
}
.upvote-box a:hover {
	background-color:rgba(237, 236, 235, 0.0);
	color: rgba(253, 106, 101, 1.0);
}