// Place all the styles related to the Features controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.feature-date {
	font-family: Lato;
	font-size: 28px;
	margin-bottom: 10px;
	/*float:left;*/
	/*display:inline-block;*/
}
/*.feature-search {
	font-family: Lato;
	width: 150px;
	padding: 7px;
	margin-top: 0px;
	border: 1px solid gray;
	color: gray;
	border-radius: 100px;
	float:right;
	display: block;
}*/

.feature-box {
	width: 100%;
	max-width:900px;
	/*border: 1px solid black;*/
	height: 80px;
	font-family: lato;
}

.feature-box:hover {
	background-color: rgba(255, 105, 97, .3);
	transition: .2s;
}

#show-title {
	/*float: left;*/
	/*clear:both;*/
	font-size: 20px;
	color: black;
	line-height: 1em;
	padding: 20px 0px 0px 0px;
	margin-left: 80px;
	min-width: 280px;
	/*overflow: hidden;*/
	/*border: 1px solid black;*/
}
#show-title a {
	background-color: rgba(255, 105, 97, .0);
	text-decoration: none;
	color: black;
}

#show-title a:hover {
	color: rgba(255, 105, 97, 1.0);
}
#show-title a:visited {
	background-color: rgba(255, 105, 97, .0);
	text-decoration: none;
	/*color: black;*/
}

#show-company {
	color: gray;
	font-size: 18px;
}
#show-company a {
	background-color: rgba(255, 105, 97, .0);
	text-decoration: none;
}
#show-company a:hover {
	color: rgba(255, 105, 97, 1.0);
}
#show-company a:visited {
	background-color: rgba(255, 105, 97, .0);
	text-decoration: none;
	/*color: black;*/
}

/*#upvote-box {
	float: left;
	font-family: lato;
	font-size: 16px;
	padding: 5px;
	margin-top:15px;
	margin-left: 10px;
	margin-right: 0px;
	width: 50px;
	height: 50px;
	text-align: center;
	box-shadow: 1px 1px 0px #737373;
	border-radius: 5px;
	background-color:rgba(237, 236, 235, .8);
}

#upvote-box a:visited {
	color: rgba(253, 106, 101, 1.0);
}

#upvote-box a {
	color:rgba(155,155,155, .9);
}
#upvote-box a:hover {
	background-color:rgba(237, 236, 235, 0.0);
	color: rgba(253, 106, 101, 1.0);
}*/

#upvote-box {
	float: left;
	font-family: lato;
	font-size: 16px;
	padding: 5px;
	margin-top:15px;
	margin-left: 10px;
	margin-right: 0px;
	width: 50px;
	height: 50px;
	text-align: center;
	box-shadow: 1px 1px 1px rgba(253, 106, 101, 1.0);
	border: 1px solid rgba(253, 106, 101, 1.0);
	border-radius: 5px;
	background-color:white;
}

#upvote-box a:visited {
	color: rgba(253, 106, 101, 1.0);
}

#upvote-box a {
	color:rgba(155,155,155, .9);
}
#upvote-box a:hover {
	background-color:rgba(237, 236, 235, 0.0);
	color: rgba(253, 106, 101, 1.0);
}
#box-image img {
	border-radius: 50%; 
	width: 50px; 
	margin: -45px 20px;
	/*display: inline-block;*/
	float:right;
}

.feature-show {
	width: 100%;
	font-family: lato;
}
.feature-header {
	width: 100%;
	background-color: rgba(255, 105, 97, .8);
	height: 100%;
	padding: 20px;
}

#title {
	font-size: 34px;
	/*padding: 0px 20px;*/
	color: white;
	line-height: .9em
}
#title a {
	color:white;
	font-size: 24px;
}
#title a:hover {
	background-color: rgba(255, 105, 97, .0);
	/*text-decoration: none;*/
}
#company {
	font-size: 26px;
	color:rgba(255,255,255,0.8);
}

#poster {
	margin-top: -5px;
	font-size: 18px;
	color:white;	
}
#poster a {
	font-size: 18px;
}
#poster img {
	border-radius: 50%;
	width: 50px;
}
.feature-shots {
	color:black;
	margin: 20px;
	font-size: 34px;
}
.feature-shots img {
	width:100px;
	height:100px;
	float: left;
	display: inline-block;
	margin:20px;
}

#feature-description {
	font-size:18px;
	color:black;
	margin-left: 40px;
}

.new-feature {
	width: 100%;
	font-family: Lato;
	font-size: 18px;
	padding: 10px;
	margin: 10px auto;
	border: 1px solid rgba(169, 169, 169, 1.0);
	resize: none;
	color: black;
	background-color: rgba(255, 105, 97, .0);
}

.new-feature:focus {
    outline: none !important;
}

#new-feature-description {
	color: black;
}

.feature-priority {
	background-color: rgba(255, 105, 97, .0);;
	font-family: "lato";
	font-weight: lighter;
	color:white;
	padding: 5px 15px;
	border:1px solid white;
	/*border: 1px solid black;*/
	border-radius:50px;
	margin-left: 5px;
}

.priority-selector {
	width: 100%;
	padding: 5px;
	font-family: Lato;
	font-size: 18px;
}

.tweet-flash {
  width: 100%;
  height: 150px;
  background-color: rgba(159, 210, 250, 1.0);
  padding: 10px;
  font-family: lato;
  font-size: 18px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}